<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
 
 <!-- Appender, Layout 설정 -->
 <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
    </Console>
 </Appenders>

 <!-- Logger 설정 -->
 <Loggers>
    
    <!-- jdbc log -->
    <logger name="log4jdbc.log4j2" level="info" additivity="false">
       <MarkerFilter marker="LOG4JDBC_RESULTSETTABLE" onMatch="ACCEPT" onMismatch="DENY"/>
       <appender-ref ref="console"/>
    </logger>

    <!-- 기본 콘솔출력 -->
    <Logger name="org.springframework" level="info" additivity="false">
        <AppenderRef ref="console" />
    </Logger>
  
    <!-- my package -->
    <Logger name="net.spring.board" level="debug" additivity="false">
        <AppenderRef ref="console"/>
    </Logger>
  
    <!-- vertx server -->
    <logger name="com.nhncorp.mods.socket" level="info" additivity="false">
        <AppenderRef ref="console"/>
    </logger>
  
  
    <Root level="ERROR">
        <AppenderRef ref="console"/>
    </Root>
  
 </Loggers>
 
</Configuration>
